<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Menu
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item>Edit Profile</ion-item>
    <ion-item routerLink="../../../landing" routerDirection="root">Log Out</ion-item>
  </ion-list>

</ion-content>
