<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab5">
      <ion-icon name="search"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Favourites</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab7">
      <ion-icon name="browsers"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab8">
      <ion-icon name="ellipsis-horizontal"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
