
ion-content{

    --ion-background-color:#444;
}
#outPopUp {
    position: absolute;
    width: 300px;
    height: 100px;
    z-index: 15;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -150px;
    text-align: center;
  }

  h1,h3{
      color: #fff;
  }

  .hydrated{
        visibility: inherit;
        padding: 0px;
        margin: 0;
  }