  
  <ion-content>
    <div id="outPopUp">
      <!-- <img width="50%" src="'../../assets/imgs/logo.png"> -->
    <h1>MyKidCare</h1>
    <!-- <h3>School Attendant Management System </h3> -->
    <p>
      <!-- <ion-badge color="primary" style="height: 30px">&nbsp;Guru&nbsp;</ion-badge> -->
      <!-- <ion-button>Guru</ion-button> -->
    </p>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" color="primary" (click)="login(1)">I want to babysit</ion-button>
      </ion-col>
    </ion-row>
    <br>
    <ion-row>
      <ion-col>
        <ion-button color="primary" expand="full" color="secondary" (click)="login(2)"> I am looking for a babysitter</ion-button>
      </ion-col>
    </ion-row>
  </div>
  </ion-content>
  
  <!-- <ion-footer>
        <ion-row>
          <ion-col>
            <ion-button color="primary" expand="full" color="primary" (click)="login()">Log Masuk</ion-button>
          </ion-col>
        </ion-row>
  </ion-footer> -->