<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-searchbar placeholder="City or postal code" showCancelButton="focus" debounce="500" animated></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content fullscreen>
    <ion-card *ngFor="let a of sitter">
      
      <ion-card-header>
        <ion-row>
          <ion-col size="3">
            <ion-avatar>
              <img src="../assets/{{a.img}}" />
            </ion-avatar>
          </ion-col>
          <ion-col size="8">
            <ion-card-title  routerLink="../../../sitter" routerDirection="forward">{{a.name}} | {{a.age}}</ion-card-title>
        <ion-card-subtitle>{{a.loc}}</ion-card-subtitle>
          </ion-col>
          <ion-col size="1"><ion-icon name="heart-outline"></ion-icon></ion-col>
        </ion-row>
        
        
      </ion-card-header>
      <ion-card-content>
        {{a.desc}}
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
