<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  

</ion-content>
<ion-footer>
  <div style="text-align: center;">You do not have any messages in your inbox.</div>
  <div style="height: 20px;">&nbsp;</div>
</ion-footer>
