<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
   </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
      
    <ion-card-header>
      <ion-row>
        <ion-col size="3">
          <ion-avatar>
            <img src="../assets/sitter1.jpg" />
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-card-title >{{sitter[0].name}} | {{sitter[0].age}}</ion-card-title>
      <ion-card-subtitle>{{sitter[0].loc}}</ion-card-subtitle>
      <ion-card-subtitle>< 1 year experience</ion-card-subtitle>
        </ion-col>
        <ion-col size="1"><ion-icon name="heart-outline"></ion-icon></ion-col>
      </ion-row>
      
      
    </ion-card-header>
    <!-- <ion-card-content>
      {{sitter[0].desc}}
    </ion-card-content> -->
  </ion-card>
  <div  class="ion-padding">
  <h3>Hello, I am Farah</h3>
  <span>{{sitter[0].desc}}</span>
  <hr>
  <h6>Availability</h6>
  <ion-row>
    <ion-col size="3"></ion-col>
    <ion-col>Mo</ion-col>
    <ion-col>Tu</ion-col>
    <ion-col>We</ion-col>
    <ion-col>Th</ion-col>
    <ion-col>Fr</ion-col>
    <ion-col>Sa</ion-col>
    <ion-col>Su</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">Morning</ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">Evening</ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: green;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="3">Night</ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
    <ion-col style="background-color: red;margin: 0 10px 3px 0;"></ion-col>
  </ion-row>
  <hr>
  <h6>About Me</h6>
  <ion-item>
    <ion-label>Age</ion-label>
    24
  </ion-item>
  <ion-item>
    <ion-label>Gender</ion-label>
    Female
  </ion-item>
  <ion-item>
    <ion-label>First aid certification</ion-label>
    No
  </ion-item>
  <ion-item>
    <ion-label>Smokes</ion-label>
    No
  </ion-item>
  <ion-item>
    <ion-label>Has children</ion-label>
    No
  </ion-item>
  <ion-item>
    <ion-label>Driving License</ion-label>
    Yes
  </ion-item>
  <ion-item>
    <ion-label>Car</ion-label>
    Yes
  </ion-item>
  <ion-item>
    <ion-label>Preferred babysitting location</ion-label>
    Client house
  </ion-item>
  <ion-item>
    <ion-label>Experience with age(s)</ion-label>
    Toddler, Preschooler
  </ion-item>
  <!-- <ion-item>
    <ion-label>Age</ion-label>
    24
  </ion-item>
  <ion-item>
    <ion-label>Age</ion-label>
    24
  </ion-item> -->
</div>
</ion-content>
<ion-footer>
  <ion-row>
    <ion-col size="6">
      <h4>RM 15.00/hour</h4>
    </ion-col>
    <ion-col>
      <ion-button>Contact Farah</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
