<ion-content class="ion-padding">
  <div id="container">
    <div style="text-align: center;margin-bottom: 50px;">I want to babysit</div>
    <form #form="ngForm" (ngSubmit)="login(form)" method="post">
    <ion-item>
      <ion-label position="floating">Email Address</ion-label>
      <ion-input ngModel type="email" name="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input ngModel type="password" name="password"></ion-input>
    </ion-item>
  
    <p ion-text-right>Forgot Password?</p>
  
    <ion-button type="submit" expand="full" color="primary">Log In</ion-button>
  </form>

  <p text-center>Don't have a account?</p>
  <ion-button expand="full" color="danger">Register</ion-button>
</div>
</ion-content>