// .main-view{
//     background: transparent;
//   }
//   .overlay {
//     position: fixed;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     z-index: 1;
//     opacity: .5;
//     background-color: #333;
//   }
//   .modal_content {
//     position: absolute;
//     top: calc(50% - (50%/2));
//     left: 0;
//     right: 0;
//     width: 100%;
//     height: 350px;
//     padding: 10px;
//     z-index: 100;
//     margin: 0 auto;
//     padding: 10px;
//     color: #444;
//     //background: #e8e8e8;
//     background: -moz-linear-gradient(top, #fefefe 0%, #fff 100%);
//     background: -webkit-linear-gradient(top, #fefefe 0%, #fff 100%);
//     background: linear-gradient(to bottom, #fefefe 0%, #fff 100%);
//     border-radius: 5px;
//     box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
//     box-sizing: border-box;
//     -moz-box-sizing: border-box;
//     -webkit-box-sizing: border-box;
//     overflow: hidden;
//   }

#container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }